.body{
font-family: Pragati Narrow;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 41px;
text-align: justify;
}

.content-box{
    border: 1px solid red;
    background: #C4C4C4;
    }
.header-box{
    grid-area:hd;
  }
.photo-box{
  grid-area:pht;
}
.footer-box{
    grid-area: ft;  
  }
.sidebar-box{
    grid-area: sd;
  }
  .content-box{
    grid-area: main;
  }
.nav{
 display: flex; 
 align-items:center;
}
.navlinks{
  display:flex;
  align-items:center;
}
.navlink{
   list-style-type:none;
   padding: 0 10px;
}
.photo-box{
   display:flex;
   align-items:center;
   justify-content:center;
}
.main-container{
  display:flex;
}
.footer-box{
  display:none;
}
@media(max-width:600px){
      .main-container{
            display:flex;
            flex-direction:column;
      }
      .footer-box{
            display:block;
      }


}
