.body{
font-family: Pragati Narrow;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 41px;
text-align: justify;
}

.photo-box{
    background: #C4C4C4;
    padding: 10px 0;
    }
p.line-spacing{
    line-height:1.8;
}
  
.nav{
  display:flex;
  justify-content: space-between;
}
.navlinks{
  display:flex;
  align-items: center;
}
.navlink{
  list-style-type: none;
  padding: 0 10px;
}
.photo-box{
  display:flex;
  align-items:center;
  justify-content:center;
}
.main-container{
  display:flex;
}
.footer-box{
  display:none;
}
@media(max-width:600px){
  .main-container{
  display:flex;
  flex-direction:column;
  }
  .footer-box{
    display:block;
    background: #C4C4C4;
  }
  .fnavlinks{
    align-items:center;
    justify-content:center;
    display: inline-block;
  }
  .fnavlinks2{
    align-items:center;
    justify-content:center;
    display: inline-block;
  }
}
