.container{
      display:grid;
      grid-template-columns: 300px 300px 300px;
      grid-template-rows: 250px 600px;
      grid-template-areas: 
      "hd hd hd hd hd hd hd hd"
      "pht pht pht pht pht pht pht pht"
      "sd sd main main main main main main"
      border: 2px solid red;
  }
font-family: Pragati Narrow;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 41px;
text-align: justify;
}

.box{
    border: 1px solid red;
    background: #C4C4C4;
    }
  .header{
    grid-area:hd;
  }
.photo{
  grid-area:pht;
}
  .footer{
    grid-area: ft;  
  }
  .sidebar{
    grid-area: sd;
  }
  .content{
    grid-area: main;
  }


}
